<li class="row flexrow {{#if condition.hidden}}hidden{{/if}}" data-mapping-row="{{@index}}" data-condition-id="{{condition.id}}" >
            <div class="flexcol content1">
                <div class="flexrow">
                    <div class="flexcol icon">
                        <img
                            name="icon-{{@index}}"
                            src="{{condition.icon}}"
                            {{#unless isDefault}}data-edit="img"{{/unless}}
                            class="icon" />
                        <input type="text" name="icon-path-{{@index}}" class="icon-path condition-text-input" value="{{condition.icon}}" placeholder="/icons/example.svg"      data-dtype="String" {{disabled isDefault}} hidden>
                    </div>
                    <div class="flexcol text-entry">
                        <div class="flexrow">
                            <div class="condition">
                                <div class="wrapper-rel">
                                    <label for="condition-{{@index}}" class="inset-label">{{localize "Name"}}</label>
                                    <input type="text" name="condition-{{@index}}" value="{{condition.label}}" class="condition condition-text-input" data-dtype="String" {{disabled isDefault}}>
                                </div>
                            </div>
                        </div>
                        <div class="flexrow condition-lab text-entry reference">
                            <div class="wrapper-rel">
                                <label for="reference-item-{{@index}}" class="inset-label">{{localize "CLT.WORDS.Reference"}}</label>
                                <input type="text" name="reference-item-{{@index}}" value="{{condition.referenceId}}" placeholder="{{localize "CLT.ENHANCED_CONDITIONS.ConditionLab.NoReference"}}" {{disabled isDefault}}>
                            </div>
                            <div class="enriched-link">{{{condition.enrichedReference}}}</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flexcol content2">
                <div class="flexrow related-buttons">
                    <button type="button"
                        name="option-config"
                        class="option-config">
                        <i class="fas fa-cog"></i> {{localize "CLT.ENHANCED_CONDITIONS.ConditionLab.Buttons.Options"}}
                    </button>
                    <button type="button"
                            class="active-effect-config"
                            data-tooltip="{{#if condition.isNew}}
                                {{localize "CLT.ENHANCED_CONDITIONS.Lab.ActiveEffects.TitleDisabledNew"}}
                                {{else if isDefault}}{{localize "CLT.ENHANCED_CONDITIONS.Lab.ActiveEffects.TitleDisabledDefault"}}
                                {{/if}}"
                                    {{disabled (or condition.isNew isDefault)}}
                                data-tooltip-direction="UP">
                        <i class="fas fa-hand-sparkles"></i> Active Effect
                    </button>
                    <div class="flex-break"></div>
                    <button type="button"
                        class="trigger-config">
                        {{> "modules/condition-lab-triggler/templates/partials/triggler-icon.hbs"}} Triggers
                    </button>
                    <button type="button"
                        name="macro-config"
                        class="macro-config">
                        <i class="fas fa-code"></i> Macros
                    </button>
                </div>
            </div>
            <div class="flexcol row-controls">
                <div class="move-up">
                    {{#unless (or sortDirection (eq key 0))}}
                    <a class="move-up"><i class="fas fa-chevron-up"></i></a>
                    {{/unless}}
                </div>
                <div class="remove-row">
                    {{#unless isDefault}}
                    <a name="remove-row-{{@index}}" class="remove-row">
                        <i class="fas fa-trash"></i>
                    </a>
                    {{/unless}}
                </div>
                <div class="move-down">
                    {{#unless (or sortDirection (eq key conditionMapLength))}}
                    <a class="move-down"><i class="fas fa-chevron-down"></i></a>
                    {{/unless}}
                </div>
            </div>

        </li>